flows/M2X IoT Cloud Service.flow
[{"id":"b7fcdbc2.4084b8","type":"lora in","name":"PS1","datatype":"utf8","x":143,"y":83,"z":"cb8a408b.03e95","wires":[["e23d6433.585c38"]]},{"id":"11caf62.755440a","type":"debug","name":"","active":true,"console":"false","complete":"true","x":595,"y":445,"z":"cb8a408b.03e95","wires":[]},{"id":"51d27075.898","type":"debug","name":"Respond","active":true,"console":"false","complete":"true","x":1068,"y":378,"z":"cb8a408b.03e95","wires":[]},{"id":"acf01966.07cb28","type":"http request","name":"","method":"use","ret":"txt","url":"","x":842,"y":378,"z":"cb8a408b.03e95","wires":[["51d27075.898"]]},{"id":"9a015ba4.e10228","type":"function","name":"Update Streams","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar method = \"/updates/\";\n \nvar data = {\"values\": \n                {\n                    \"temperature\":[\n                                    {\n                                        \"timestamp\": new Date().toJSON(),\n                                        \"value\": msg.payload.TEMPERATURE\n                                    }\n                                ],\n                    \"moisture\":[\n                                    {\n                                        \"timestamp\": new Date().toJSON(),\n                                        \"value\": msg.payload.MOISTURE\n                                    }\n                                ],\n                    \"battery\":[\n                                    {\n                                        \"timestamp\": new Date().toJSON(),\n                                        \"value\": msg.payload.BATTERY\n                                    }\n                                ]\n                }\n            };\n \nvar msg = {\n    \"method\" : \"POST\",\n    \"url\" : dev_url + dev_id + method,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":604,"y":376,"z":"cb8a408b.03e95","wires":[["acf01966.07cb28"]]},{"id":"a855e9af.3920b8","type":"json","name":"","x":286,"y":372,"z":"cb8a408b.03e95","wires":[["11caf62.755440a","8d29dff2.9d2c","9a015ba4.e10228"]]},{"id":"e23d6433.585c38","type":"function","name":"JSONify","func":"msg.payload = msg.payload.replace(\"BAT\", \"\\\"BATTERY\\\"\");\nmsg.payload = msg.payload.replace(\"I\", \"\\\"ID\\\"\");\nmsg.payload = msg.payload.replace(\"N\", \"\\\"SEQUENCE\\\"\");\nmsg.payload = msg.payload.replace(\"CC\", \"\\\"TEMPERATURE\\\"\");\nmsg.payload = msg.payload.replace(\"CF\", \"\\\"MOISTURE\\\"\");\nmsg.payload = msg.payload.replace(\"PS1\", \"\\\"PS1\\\"\");\nmsg.payload = msg.payload.replace(\"PA\", \"\\\"PREV ACK\\\"\");\nmsg.time = new Date().toJSON();\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":231,"z":"cb8a408b.03e95","wires":[["a855e9af.3920b8"]]},{"id":"8d29dff2.9d2c","type":"function","name":"Header","func":"var header = {\n  \"timestamp\": msg.timestamp,\n  \"channel\": msg.chan,\n  \"data rate\": msg.datr,\n  \"frequency\": msg.freq\n};\n\nheader =JSON.stringify(header);\nmsg.payload = header;\n\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":279,"z":"cb8a408b.03e95","wires":[["ae02d259.8abec","c60f8df2.482cc"]]},{"id":"ae02d259.8abec","type":"file","name":"Header","filename":"Header.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":760,"y":279,"z":"cb8a408b.03e95","wires":[]},{"id":"c60f8df2.482cc","type":"debug","name":"","active":false,"console":"false","complete":"true","x":761,"y":196,"z":"cb8a408b.03e95","wires":[]},{"id":"100f3405.96068c","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":128,"y":583,"z":"cb8a408b.03e95","wires":[["9c2e1035.0c538"]]},{"id":"9c2e1035.0c538","type":"function","name":"Update Stream","func":"var dev_id = \"03b753c00e2554db185a4c6d5b16a2ab\";\nvar api_key = \"34c008394165697e9d408f73c0ee965a\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar method = \"/updates/\";\n \nvar data = {\"values\": \n                {\n                    \"brightness\":[\n                                    {\n                                        \"timestamp\": new Date().toJSON(),\n                                        \"value\": 60\n                                    }\n                                ],\n                    \"humidity\":[\n                                    {\n                                        \"timestamp\": new Date().toJSON(),\n                                        \"value\": 20\n                                    }\n                                ]\n                }\n            };\n \nvar msg = {\n    \"method\" : \"POST\",\n    \"url\" : dev_url + dev_id + method,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":338,"y":586,"z":"cb8a408b.03e95","wires":[["937f07c9.48e478"]]},{"id":"937f07c9.48e478","type":"http request","name":"","method":"use","ret":"txt","url":"","x":544,"y":589,"z":"cb8a408b.03e95","wires":[["fd88ceb3.2deac"]]},{"id":"fd88ceb3.2deac","type":"debug","name":"Virtual Device Response","active":true,"console":"false","complete":"true","x":766,"y":584,"z":"cb8a408b.03e95","wires":[]}]