flows/M2X IoT Cloud Service.flow
[{"id":"b7fcdbc2.4084b8","type":"lora in","name":"PS1","datatype":"utf8","x":143,"y":83,"z":"cb8a408b.03e95","wires":[["e23d6433.585c38"]]},{"id":"11caf62.755440a","type":"debug","name":"","active":true,"console":"false","complete":"true","x":595,"y":445,"z":"cb8a408b.03e95","wires":[]},{"id":"51d27075.898","type":"debug","name":"Respond","active":true,"console":"false","complete":"true","x":1068,"y":378,"z":"cb8a408b.03e95","wires":[]},{"id":"acf01966.07cb28","type":"http request","name":"","method":"use","ret":"txt","url":"","x":842,"y":378,"z":"cb8a408b.03e95","wires":[["51d27075.898"]]},{"id":"9a015ba4.e10228","type":"function","name":"PUT Temperature","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\nvar stream_name = \"temperature\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar stream = \"/streams/\" + stream_name + \"/value\";\n \nvar data = {\"value\": msg.payload.TEMPERATURE};\n \nvar msg = {\n    \"method\" : \"PUT\",\n    \"url\" : dev_url + dev_id + stream,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":604,"y":376,"z":"cb8a408b.03e95","wires":[["acf01966.07cb28"]]},{"id":"a855e9af.3920b8","type":"json","name":"","x":286,"y":372,"z":"cb8a408b.03e95","wires":[["b9040fdc.be1b6","11caf62.755440a","8d29dff2.9d2c"]]},{"id":"e23d6433.585c38","type":"function","name":"JSONify","func":"msg.payload = msg.payload.replace(\"BAT\", \"\\\"BATTERY\\\"\");\nmsg.payload = msg.payload.replace(\"I\", \"\\\"ID\\\"\");\nmsg.payload = msg.payload.replace(\"N\", \"\\\"SEQUENCE\\\"\");\nmsg.payload = msg.payload.replace(\"CC\", \"\\\"TEMPERATURE\\\"\");\nmsg.payload = msg.payload.replace(\"CF\", \"\\\"MOISTURE\\\"\");\nmsg.payload = msg.payload.replace(\"PS1\", \"\\\"PS1\\\"\");\nmsg.payload = msg.payload.replace(\"PA\", \"\\\"PREV ACK\\\"\");\nmsg.time = new Date().toJSON();\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":231,"z":"cb8a408b.03e95","wires":[["a855e9af.3920b8"]]},{"id":"5361b7c6.e88d08","type":"function","name":"PUT Moisture","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\nvar stream_name = \"moisture\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar stream = \"/streams/\" + stream_name + \"/value\";\n \nvar data = {\"value\": msg.payload.MOISTURE};\n \nvar msg = {\n    \"method\" : \"PUT\",\n    \"url\" : dev_url + dev_id + stream,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":605,"y":523,"z":"cb8a408b.03e95","wires":[["df41a9cd.dbb478"]]},{"id":"df41a9cd.dbb478","type":"http request","name":"","method":"use","ret":"txt","url":"","x":843,"y":520,"z":"cb8a408b.03e95","wires":[["51d27075.898"]]},{"id":"b9040fdc.be1b6","type":"file","name":"PS1LocalData","filename":"PS1LocalData","appendNewline":true,"createDir":false,"overwriteFile":"false","x":577,"y":151,"z":"cb8a408b.03e95","wires":[]},{"id":"8d29dff2.9d2c","type":"function","name":"Complete Object","func":"var header = {\n  \"timestamp\": msg.timestamp,\n  \"channel\": msg.chan,\n  \"data rate\": msg.datr,\n  \"frequency\": msg.freq\n};\n\nheader =JSON.stringify(header);\nmsg.payload = header;\n\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":279,"z":"cb8a408b.03e95","wires":[["ae02d259.8abec","c60f8df2.482cc"]]},{"id":"ae02d259.8abec","type":"file","name":"Header","filename":"Header","appendNewline":true,"createDir":false,"overwriteFile":"false","x":760,"y":279,"z":"cb8a408b.03e95","wires":[]},{"id":"c60f8df2.482cc","type":"debug","name":"","active":true,"console":"false","complete":"true","x":806,"y":212,"z":"cb8a408b.03e95","wires":[]}]